/* css/style.css */
body {
  margin: 0;
  font-family: sans-serif;
}

/* チェックボックスを非表示 */
#sidebar-toggle {
  display: none;
}

/* ハンバーガー／クローズアイコン */
.sidebar-icon {
  color:#080808;  /* アイコンの色を濡羽色 */
  position: fixed;
  top: 15px;
  left: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1001;
  /*transition: color 0.0s;*/  /* 色がゆっくり変わる */
  transition: transform 0.0s;
}

.sidebar-icon.white-icon {
  color: #fef4f4;   /* アイコンの色を桜 */
}

@media screen and (max-width: 420px) {
  /* ハンバーガーアイコン */
  .sidebar-icon::before {
    content: "≡";
    font-size: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
  }

  /* チェックされると「✕」に変える */
  #sidebar-toggle:checked + .sidebar-icon::before {
    content: "✕";
    font-size: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
  }
}

/* ハンバーガーアイコン */
.sidebar-icon::before {
  content: "≡";
  font-size: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
}

/* チェックされると「✕」に変える */
#sidebar-toggle:checked + .sidebar-icon::before {
  content: "✕";
  font-size: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
}

/* サイドバー本体 */
.sidebar {
  position: fixed;
  top: 0;
  left: -100vw;     /* 画面外に完全に隠す */
  width: 100vw;     /* 画面幅いっぱい */
  height: 100vh;    /* 画面高さいっぱい */
  background-color: rgba(162, 162, 162, 0.97);
  transition: left 0.3s ease;
  z-index: 1000;
  display: grid;
  place-items: center;  /* 横・縦とも中央揃え */
}

/* チェックされたらスライドイン */
#sidebar-toggle:checked ~ .sidebar {
  left: 0;
}

/* リスト装飾のリセット */
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* メニューアイテム */
.sidebar li {
  padding: 0.5em 1em;
}

/* リンクスタイル */
.sidebar a {
  text-decoration: none;
  color: #333;
}

.Exhibit_Introduction-menu
{
  padding: 0.5em 1em;
  margin-top: 0.4rem;
}

/* summaryのデフォルトマーカーを消す */
/* Chrome/Safari */
details > summary::-webkit-details-marker {
  display: none;
}

/* Firefox */
summary::-moz-list-bullet {
  display: none;
}

/* summaryの見た目 */
details > summary{
  display: inline-flex;
  align-items: center;    /* 上下中央揃え */
  cursor: pointer;
}

details > summary::after {
  content: '+';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;

  line-height: 1.2em;          /* テキストを縦方向中央に */
  text-align: center;          /* テキストを横方向中央に */
  margin-left: 0.5em;          /* テキストとの隙間 */
  border: 1px solid #333;      /* 枠線の色・太さ */

  margin-left: 0.5em;                /* テキストとの隙間 */
  transition: transform 0.2s ease;
  vertical-align: middle;
  background-color: rgba(255, 255, 255,0.5);
}

/* open時：矢印を下向きに */
details[open] > summary::after {
  /*transform: rotate(90deg);*/   /* ▶ を ▼ みたいにする */
  content: '-';
  display: inline-block;
  margin-left: 0.5em;                /* テキストとの隙間 */
  transition: transform 0.2s ease;
  vertical-align: middle;
  background-color: rgba(255, 255, 255,0.5);  
}
