/*@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  src: url('noto-serif-jp-regular.woff2') format('woff2'),
       url('noto-serif-jp-regular.woff') format('woff');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  src: url('noto-serif-jp-bold.woff2') format('woff2'),
       url('noto-serif-jp-bold.woff') format('woff');
}*/

/*body {
    background: linear-gradient(84deg, #1A1C70, #4B509B, #6D7CCA, #8CB3F2, #B4C6E9);
    background-size: 1000% 1000%;
    animation: GradientBackground 10s ease infinite;
}*/

/* @keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}*/

/*ul{
    transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
}*/

h1 {
    font-family: 'Noto Serif JP', serif;
    color: black;
    font-size:100px;
    text-align: center;
}

h2{
    color: black;
    font-size:30px;
    text-align: center;
}

h3{
    color: black;
    font-size:25px;
    text-align: center;
}

p{
    color: black;
    font-size:20px;
    text-align: center;
}

.field {
    display: flex;
    justify-content: space-around;
}

body.top {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
    h1 {
    font-family: 'Noto Serif JP', serif;
    color: black;
    font-size:100px;
    text-align: center;
    }

    h2{
    color: black;
    font-size:30px;
    text-align: center;
    }

    h3{
    color: black;
    font-size:25px;
    text-align: center;
    }

    p{
        color: black;
        font-size:45px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    h1 {
    font-family: 'Noto Serif JP', serif;
    color: black;
    font-size:30px;
    text-align: center;
    }

    h2{
    color: black;
    font-size:25px;
    text-align: center;
    }

    h3{
    color: black;
    font-size:20px;
    text-align: center;
    }

    p{
        color: black;
        font-size:16px;
        text-align: center;
    }
}